<div>
  <img src="" alt="recipe image" />
</div>

<div>
  <h2 class="font-semibold">Recipe Name</h2>
  <div>
    <button class="px-3 rounded ml-1 py-2 text-sm bg-blue-400 text-white">
      To Shopping
    </button>
    <button class="px-3 rounded ml-1 py-2 text-sm bg-green-400 text-white">
      Edit Recipe
    </button>
    <button class="px-3 rounded ml-1 py-2 text-sm bg-red-400 text-white">
      Delete Recipe
    </button>
  </div>
</div>

<div>
  <h4>Description</h4>
</div>

<div>ingredients</div>
