<div class="p-10">
  <form class="flex gap-4" action="">
    <div>
      <input
        class="p-2 border text-sm border-gray-500 rounded"
        type="text"
        placeholder="name"
      />
    </div>
    <div>
      <input
        class="p-2 border text-sm border-gray-500 rounded"
        type="number"
        placeholder="name"
      />
    </div>
  </form>
  <div class="mt-3">
    <button class="px-3 rounded ml-1 py-2 text-sm bg-blue-400 text-white">
      Add
    </button>
    <button class="px-3 rounded ml-1 py-2 text-sm bg-red-400 text-white">
      Delete
    </button>
    <button class="px-3 rounded ml-1 py-2 text-sm bg-green-400 text-white">
      Clear
    </button>
  </div>
</div>
